a {
    color: inherit !important;
    text-decoration: none !important;
}

.xsmall-text {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.25rem;
    letter-spacing: 0.0178571429em;
}